body {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  padding-inline-start: 0px
}

.main_title_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px
}

.main_title_logo img {
  width: 250px;
}